# set variable
set $mod Mod4

# key to open firefox
bindsym Mod4+Control+f exec firefox

# key to open chrome
bindsym Mod4+Control+c exec chrome

# key to open gvim
bindsym Mod4+Control+g exec gvim

# key to open emacs
bindsym Mod4+Control+e exec emacs

# key to open termianl
bindsym Mod4+Control+t exec gnome-terminal

# kill focused window
bindsym Mod4+Shift+c kill

# start dmenu (a program launcher)
bindsym Mod4+p exec dmenu_run

# change focus
bindsym Mod4+h focus left
bindsym Mod4+j focus down
bindsym Mod4+k focus up
bindsym Mod+l focus right
# alternative choices
bindsym Mod4+Left focus left
bindsym Mod4+Down focus down
bindsym Mod4+Up focus up
bindsym Mod4+Right focus right

# move focused window
bindsym Mod4+Shift+h move left
bindsym Mod4+Shift+i move down
bindsym Mod4+Shift+k move up
bindsym Mod4+Shift+l move right
# alternatively choices
bindsym Mod4+Shift+Left move left
bindsym Mod4+Shift+Down move down
bindsym Mod4+Shift+Up move up
bindsym Mod4+Shift+Right move righte

# TODO: resize

# split horizon and vertical
bindsym Mod4+Control+h split h
bindsym Mod4+Control+v split v

# change container layout
bindsym Mod4+s layout stacking
bindsym Mod4+t layout tabbed
bindsym Mod4+d layout default

# toggle tiling/floating
bindsym Mod4+space focus mode_toggle

# reload i3 config, update
bindsym Mod4+Shift+u reload
# restart i3 inplace
bindsym Mod4+Shift+r restart
# exit i3
bindsym Mod4+Shift+e exit

# move to workspace
bindsym Mod4+1 workspace 1: www
bindsym Mod4+2 workspace 2: term
bindsym Mod4+3 workspace 3: other
bindsym Mod4+4 workspace 4: note
bindsym Mod4+5 workspace 5: vmware
bindsym Mod4+5 workspace 6: mail

# TODO open certain windows in floating mode
# for_window [class="(?i)gnome-calculator"] floating enable
